body, html {
    height: 100%;
    margin: 0;
    display: grid;
    background-color: cadetblue;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-item {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.chart-container {
    width: 80%;
    height: 480px;
    margin: 0 auto;
}